.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 16px;
    text-align: center;
    background-color: #fff;
}

.imageContainer {
    width: 120px; 
    height: 120px; 
    position: relative;
    margin: 16px auto 0; 
    border-radius: 50%; 
    overflow: hidden; 
}

.image {
    object-fit: cover; 
    width: 100%;
    height: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 16px 0 8px;
}

.description {
    font-size: 1rem;
    color: #666;
    margin: 0 16px 16px;
}
