.navbar {
  background-color: #3a3737; 
  padding: 1rem;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.brand {
  font-size: 1.5rem; 
  color: white; 
}

.navList {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navItem {
  display: flex; 
  align-items: center; 
  margin: 0 1rem;
}

.navItem a {
  color: white; 
  text-decoration: none;
  padding: 0.5rem 1rem; 
  transition: background-color 0.3s ease;
  display: block; 
  height: 100%; 
}

.navItem a:hover {
  background-color: #5f5f5f; 
}
