.navbar {
    background-color: #d3d3d3; /* Gris claro */
    padding: 1rem;
  }
  
  .navList {
    list-style-type: none;
    display: flex;
    justify-content: flex-end; /* Alinear elementos a la derecha */
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin: 0 1rem;
  }
  
  .navItem a {
    color: black; /* Cambiar el color de los enlaces si es necesario */
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
  }
  
  .navItem a:hover {
    background-color: #a9a9a9; /* Gris oscuro para el hover */
    border-radius: 4px;
  }