.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #79a0c7; /* Fondo de color */
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px; /* Ajusta el tamaño máximo de la imagen */
}

.backgroundImage {
  width: 100%;
  height: auto;
  border-radius: 10px; /* O cualquier otro estilo que desees para la imagen */
}
